<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.product.dao.DiseaseBeanMapper">
    <resultMap id="BaseResultMap" type="cn.net.yzl.product.model.db.DiseaseBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="create_no" property="createNo" jdbcType="VARCHAR"/>
        <result column="update_no" property="updateNo" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
         name, pid, sort, create_no, update_no, del_flag, create_time, update_time
  </sql>
    <select id="selectPid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        pid
        from disease
        where old_id = #{id,jdbcType=INTEGER}
        and del_flag = 0
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
       old_id as id ,name, pid, sort, create_no, update_no, del_flag, create_time, update_time
        from disease
        where del_flag = 0
    </select>
    <select id="findRoot" resultMap="BaseResultMap">
        select
       old_id as id ,name, pid, sort, create_no, update_no, del_flag, create_time, update_time
        from disease
        where pid = 0
        and del_flag = 0
    </select>


    <update id="deleteByPrimaryKey" parameterType="cn.net.yzl.product.model.vo.disease.DiseaseDelVo">
    update disease
    set del_flag = 1,update_no = #{updateNo,jdbcType=VARCHAR}
    where old_id = #{id,jdbcType=INTEGER}
  </update>


    <select id="getProductsByDid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
         product_id
    from
         product_disease
    where
         disease_id = #{id}
  </select>

    <select id="selectByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
       old_id as id ,name, pid, sort, create_no, update_no, del_flag, create_time, update_time
        from
        disease
        where
        pid = #{pid}
    </select>

    <insert id="insertSelective" parameterType="cn.net.yzl.product.model.vo.disease.DiseaseVo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into disease
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                old_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="updateNo != null">
                create_no,
            </if>
            <if test="updateNo != null">
                update_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="updateNo != null">
                #{updateNo,jdbcType=VARCHAR},
            </if>
            <if test="updateNo != null">
                #{updateNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update disease
        set name = #{name,jdbcType=VARCHAR},update_no = #{userId,jdbcType=VARCHAR}
        where old_id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryByPID" parameterType="int" resultType="cn.net.yzl.product.model.vo.disease.DiseaseDTO">
        select old_id as id, name
        from disease where del_flag=0 and pid = #{pid,jdbcType=INTEGER}
    </select>
    <!--查询最大主键编号-->
    <select id="queryMaxId" resultType="int">
        select max(old_id) as maxId  from disease;
    </select>
</mapper>