<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.product.dao.ProductDiseaseMapper" >
  <resultMap id="BaseResultMap" type="cn.net.yzl.product.model.pojo.product.ProductDisease" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="disease_id" property="diseaseId" jdbcType="INTEGER" />
    <result column="disease_name" property="diseaseName" jdbcType="INTEGER" />
    <result column="dtype" property="dtype" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, product_code, disease_id, disease_name,dtype, create_time, update_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_disease
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.yzl.product.model.pojo.product.ProductDisease" >
    insert into product_disease (id, product_code, disease_id,disease_name,
      dtype, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER},
    #{productCode,jdbcType=VARCHAR},
    #{diseaseName,jdbcType=VARCHAR},
    #{diseaseId,jdbcType=INTEGER},
      #{dtype,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.net.yzl.product.model.pojo.product.ProductDisease" >
    insert into product_disease
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
       <if test="diseaseName != null" >
         disease_name,
      </if>
      <if test="diseaseId != null" >
        disease_id,
      </if>
      <if test="diseasePid != null" >
        disease_pid,
      </if>
      <if test="dtype != null" >
        dtype,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
       <if test="productCode != null" >
         #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="diseaseId != null" >
        #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="diseasePid != null" >
        #{diseasePid,jdbcType=INTEGER},
      </if>
      <if test="dtype != null" >
        #{dtype,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.product.model.pojo.product.ProductDisease" >
    update product_disease
    <set >
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        disease_name = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="diseaseId != null" >
        disease_id = #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="diseasePid != null" >
        disease_pid = #{diseasePid,jdbcType=INTEGER},
      </if>
      <if test="dtype != null" >
        dtype = #{dtype,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--批量查询病症-->
  <insert id="insertArray" parameterType="cn.net.yzl.product.model.vo.product.vo.ProductDiseaseVO">
     insert into product_disease (
     product_code, disease_id,disease_name,disease_pid
      )
    values
    <foreach item="item" collection="list" separator=",">
    (
    #{item.productCode,jdbcType=VARCHAR},
    #{item.diseaseName,jdbcType=VARCHAR},
        #{item.diseaseId,jdbcType=INTEGER},
        #{item.diseasePid,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <!--根据商品删除关联关系-->
  <delete id="deleteByProductCode">
    delete from product_disease
    where product_code = #{productCode,jdbcType=VARCHAR}
  </delete>
</mapper>